Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

HuergoMotorsVentas/bin/
HuergoMotorsVentas/obj/
HuergoMotors.Web/bin/
HuergoMotors.Web/obj/
HuergoMotors.Negocio/bin/
HuergoMotors.Negocio/obj/
HuergoMotors.DTO/bin/
HuergoMotors.DTO/obj/
HuergoMotors.DAO/bin/
HuergoMotors.DAO/obj/